Wifi/flows.json
[
    {
        "id": "7dccf42ec6f33b72",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5cecd3345ab5dd5d",
        "type": "mqtt in",
        "z": "7dccf42ec6f33b72",
        "name": "",
        "topic": "4ID3_G7/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2964ec065ae1c941",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "a345041feb71e6fd",
                "078f271a04864d7b"
            ]
        ]
    },
    {
        "id": "a345041feb71e6fd",
        "type": "debug",
        "z": "7dccf42ec6f33b72",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 240,
        "wires": []
    },
    {
        "id": "078f271a04864d7b",
        "type": "ui_chart",
        "z": "7dccf42ec6f33b72",
        "name": "Temperature",
        "group": "08e7f5fab79a3c4a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2fe6ccda63966736",
        "type": "mqtt in",
        "z": "7dccf42ec6f33b72",
        "name": "",
        "topic": "4ID3_G7/pressure",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2964ec065ae1c941",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 420,
        "wires": [
            [
                "9e2e4c555266bf8e",
                "ee4c9ea4aca6ec92"
            ]
        ]
    },
    {
        "id": "9e2e4c555266bf8e",
        "type": "debug",
        "z": "7dccf42ec6f33b72",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 420,
        "wires": []
    },
    {
        "id": "ee4c9ea4aca6ec92",
        "type": "ui_chart",
        "z": "7dccf42ec6f33b72",
        "name": "Pressure",
        "group": "08e7f5fab79a3c4a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "1f1b2e4c0a346d3d",
        "type": "mqtt in",
        "z": "7dccf42ec6f33b72",
        "name": "",
        "topic": "4ID3_G7/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2964ec065ae1c941",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 600,
        "wires": [
            [
                "b786197b9a691e81",
                "59d3ad678925c485"
            ]
        ]
    },
    {
        "id": "b786197b9a691e81",
        "type": "debug",
        "z": "7dccf42ec6f33b72",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "4646f2dbc8a3e28f",
        "type": "mqtt in",
        "z": "7dccf42ec6f33b72",
        "name": "",
        "topic": "4ID3_G7/light",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2964ec065ae1c941",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 780,
        "wires": [
            [
                "a40812a583eec57e",
                "343fa50ff2a6ae06"
            ]
        ]
    },
    {
        "id": "a40812a583eec57e",
        "type": "debug",
        "z": "7dccf42ec6f33b72",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 780,
        "wires": []
    },
    {
        "id": "343fa50ff2a6ae06",
        "type": "ui_chart",
        "z": "7dccf42ec6f33b72",
        "name": "Light",
        "group": "08e7f5fab79a3c4a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "500",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "59d3ad678925c485",
        "type": "ui_gauge",
        "z": "7dccf42ec6f33b72",
        "name": "Humidity",
        "group": "08e7f5fab79a3c4a",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 660,
        "wires": []
    },
    {
        "id": "2964ec065ae1c941",
        "type": "mqtt-broker",
        "name": "Mosquitto Test",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "08e7f5fab79a3c4a",
        "type": "ui_group",
        "name": "Default",
        "tab": "9cc808ae9bc6aa57",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9cc808ae9bc6aa57",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]